@layer tailwind-base, primevue, tailwind-utilities;

/* Base layer */
@layer tailwind-base {
  @tailwind base;

  .app-scrollbar {
    &::-webkit-scrollbar-thumb {
      background-color: var(--p-primary-600);
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--p-surface-200);
      border-radius: 9999px;
    }

    scrollbar-color: var(--p-primary-600) var(--p-surface-200);
  }

  .no-scrollbar {
    overflow: hidden;

    /* Firefox */
    overflow: -moz-scrollbars-none; 
    /* Internet Explorer and Edge */
    -ms-overflow-style: none; 
    /* Firefox */
    scrollbar-width: none; 

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
  .p-datatable-table {
    @apply border border-gray-200
  }
  .p-datatable-header-cell {
    @apply !bg-primary-500 !text-white;
  }
  .p-datatable-sort-icon, .p-datatable-column-filter-clear-button, .p-datatable-column-filter-button {
    @apply !text-gray-300;

    &:hover {
      @apply !text-primary;
    }
  }

  .fadetransition-enter-active,
  .fadetransition-leave-active {
    transition: opacity 0.2s ease;
  }

  .fadetransition-enter-from,
  .fadetransition-leave-to {
    opacity: 0;
  }
}

/* Utility layer */
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}